// #adminPanel-body { // TODO bloody dialog is added to the body, not adminPanel-body
  .container {
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right: auto;
    // margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  form {
    .form-control {
      display: block;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      border-radius: 3px;
      box-shadow: none;
      height: 36px;
      border: 1px solid #e4e5e7;

      border-color: #1c1f22;
      background-color: #1c1f22;
    }
    label{
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 400;
      color: #9a9da0;
    }
  }
// }

.btnsBox { // TODO
  .btn {
    margin-top: 7px;
    margin-left: 7px;
  }
}
