.inAppModal {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 15px;
  z-index: 999;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.34);
  background-color: #c4c4c4;

  //  #bebebe; // display: none;
  .header {
    padding: 9px 32px 0px 8px;
    font-size: 15px;
    color: #101010;
    position: relative;
    .close {
      position: absolute;
      right: 9px;
      width: 24px;
      height: 24px;
      top: 14px;
      // background-color: #E53935;
      border-radius: 17px;
    }

    .title {
      margin-right: 20px;
      vertical-align: middle;
    }
  }

  hr {
    border-color: #e6e6e6;
    height: 0px;
    border-bottom: 0px;
  }

  .body {
    max-height: calc(80vh - 100px);
    overflow-y: auto; // TODO
    overflow-x: auto;
  }

  &.xx-large {
    top: 10vh;
    right: 5%;
    left: 5%;
  }

  &.x-large {
    top: 10vh;
    right: 20%;
    left: 20%;
    right: calc(50% - 400px);
    left: calc(50% - 400px);
  }

  &.large {
    top: 10vh;
    right: 20%;
    left: 20%;
    right: calc(50% - 350px);
    left: calc(50% - 350px);
  }

  &.medium {
    top: 10vh;
    right: 20%;
    left: 20%;
    right: calc(50% - 300px);
    left: calc(50% - 300px);
  }

  &.small {
    top: 10vh;
    right: 30%;
    left: 30%;
    right: calc(50% - 250px);
    left: calc(50% - 250px);

  }

  &.tiny {
    top: 10vh;
    right: 35%;
    left: 35%;
    right: calc(50% - 150px);
    left: calc(50% - 150px);
  }

  &.date-picker {
    top: 10vh;
    right: 20%;
    left: 20%;
    right: calc(50% - 150px);
    left: calc(50% - 150px);
  }
}

.modalShadow {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(45, 45, 45, 0.8);
  z-index: 998;
}
