
.inAppModal {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 15px;
  z-index: 999;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.34);
  background-color: #bebebe; // display: none;
  .header {
      padding: 7px 32px 8px 8px;
      font-size: 15px;
      position: relative;
      .close {
          position: absolute;
          right: 9px;
          width: 14px;
          height: 14px;
          top: 14px;
      }
  }
  .body{
      max-height: calc(100vh - 100px);
      overflow-y: scroll;
      overflow-x: auto;
  }
}

.modalShadow {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(45, 45, 45, 0.8);
  z-index: 998;
}
