<div class="container">
  <div class="titlePart">
    <div class="orangeTitleLine"></div>
    <div class="titleNumber">
      {{childsTitle[currentPageIndex].number}}
    </div>
    <div class="titleBox">
      <div>
        <span class="firstPart">
          {{childsTitle[currentPageIndex].titleFirstPart}}
        </span>
        <span class="secondPart">
          {{childsTitle[currentPageIndex].titleSecondPart}}
        </span>
      </div>
      <div class="subTitle">
        {{childsTitle[currentPageIndex].subtitle}}
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
