<form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
  {{this.categoriesForm.errors | json}}
  <div class="container" formArrayName="categories">
    <div class="row" *ngFor="let category of categories.controls; let i=index" [formGroupName]="i">
      <div class="col-sm">
        <label>
          name:
          <input class="form-control" type="text" [formControlName]="'name'" placeholder="نام">
        </label>
      </div>
      <div class="col-sm">
        <label>
          key:
          <input class="form-control" type="text" [formControlName]="'key'" placeholder="شناسه">
        </label>
      </div>
      <div class="col-sm">
        <label>
          parent:
          <input class="form-control" type="text" [formControlName]="'parent'" placeholder="شناسه پدر">
        </label>
      </div>
      <div class="col-sm">
        <a href="javascript:void(0)" (click)="addCategory(i)">
          <i class="fas fa-plus-square"></i>
        </a>
        <a href="javascript:void(0)" (click)="removeCategory(i)">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!categoriesForm.valid">Submit</button>
</form>
