<div class="side-bar">
  <div class="title">
    - - - - - منوی اصلی - - - - -
  </div>
  <ul class="list">
    <li routerLink="/admin/dashboard" routerLinkActive="selected">
      <span class="text">
        داشبورد
      </span>
    </li>
    <li routerLink="/admin/pages" routerLinkActive="selected">
      <span class="text">
        صفحات
      </span>
    </li>
    <li>
      <span class="text">
        ماژول ها
      </span>
    </li>
    <li routerLink="/admin/templates" routerLinkActive="selected">
      <span class="text">
        قالب ها
      </span>
    </li>
    <li routerLink="/admin/containers" routerLinkActive="selected">
      <span class="text">
        قاب ها
      </span>
    </li>
    <li routerLink="/admin/website" routerLinkActive="selected">
      <span class="text">
        سایت
      </span>
    </li>
    <li routerLink="/admin/roles" routerLinkActive="selected">
      <span class="text">
        نقش ها
      </span>
    </li>
    <!-- <li routerLink="/admin/categories" routerLinkActive="selected">
      <span class="text">
        دسته بندی ها
      </span>
    </li> -->
    <li routerLink="/admin/blog" routerLinkActive="selected">
      <span class="text">
        بلاگ
      </span>
    </li>
    <li routerLink="/admin/fileManager" routerLinkActive="selected">
      <span class="text">
        مدیریت فایل ها
      </span>
    </li>
  </ul>
</div>
