.add-item {
  background-color: #4CADA8;
  color: white;
  border: 0;
  font-family: inherit;
  padding: 5px;
  border-radius: 16px;
}

.item {
  padding-top: 12px;
  vertical-align: middle;
  color: #616161;
  height: 50px;
  padding-left: 8px;
  border-left: 3px solid rgb(247, 171, 8);
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  margin-top: 4px;

  &:hover {
    cursor: pointer;
    color: rgb(135, 138, 142);
    background-color: rgb(239, 240, 242);
  }

  .info {
    float: right;

    .title {
      font-size: 12px;
      margin-left: 5px;
    }
  }

  .operators {
    float: left;

    .operator {
      margin-right: 8px;

      &.edit {
        color: rgb(201, 237, 203);
      }

      &.up {
        color: rgb(245, 249, 209);
      }

      &.down {
        color: rgb(245, 249, 209);
      }

      &.delete {
        color: rgb(206,147,147);
      }
    }
  }

}
