<div class="main-container" *ngIf="!message">
  <div class="left-container">
    <img src="/assets/images/dark-logo-mini.png" alt="">
  </div>
  <div class="right-container">
    <h3>We are <span>Netap</span></h3>
    <h5>Please enter username</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div>
        <i class="fa fa-at"></i>
        <input type="text" placeholder="Username" formControlName="username">
      </div>
      <button type="submit" [disabled]="!form.valid">Proceed</button>
    </form>
  </div>
</div>
<div *ngIf="message">
  {{message}}
</div>
