<div class="container">
  <app-home-insurances [insuranceTypes]="insuranceTypes"></app-home-insurances>
  <div class="titlePart">
  </div>
  <div id="contentPart">

    <div class="orangeTitleLine"></div>
    <div class="titleBox">
      <div>
        <span class="firstPart">
          بیشتر
        </span>
        <span class="secondPart">
          بدانید
        </span>
      </div>
      <div class="subTitle">
        با قوانین جدید آشنا شوید
      </div>
    </div>
    <div id="contentPart">
      <div class="right-col" data-pane="rightHolder"></div>
      <div class="center-col" data-pane="middleHolder"></div>
      <div class="left-col" data-pane="leftHolder"></div>
    </div>
  </div>
