<div class="side-bar">
  <div class="title">
      - - - - - منوی اصلی - - - - -
  </div>
  <ul class="list">
    <li routerLink="/admin/dashboard" routerLinkActive="selected">
      <span class="text">
        داشبورد
      </span>
    </li>
    <li routerLink="/admin/pages" routerLinkActive="selected">
      <span class="text">
        صفحات
      </span>
    </li>
    <li>
      <span class="text">
        ماژول ها
      </span>
    </li>
    <li>
      <span class="text">
        بلاگ
      </span>
    </li>
  </ul>
</div>