.main-container { // TODO copy paste from login styles
  display: flex;
  direction: ltr;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .18);

  &>div {
    border-radius: inherit;

    &.left-container {
      flex: 1 1 33%;
      background-image: url('/assets/images/1.jpg');

      img {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }

    &.right-container {
      flex: 2 2 66%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      form {
        margin-top: 50px;
        text-align: center;

        $green: #a2ccb6;
        $light-peach: #ffecd9;
        $peach: #ee786e;
        $sand: #fceeb5;
        $white: #fff;

        button {
          margin-top: 30px;
          -webkit-appearance: none;
          background: -webkit-gradient(to right, $green 0%, $sand 50%, $peach 100%);
          background: linear-gradient(to right, $green 0%, $sand 50%, $peach 100%);
          background-size: 500%;
          border: none;
          border-radius: 5rem;
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
          color: $white;
          cursor: pointer;
          font: 1em Raleway, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          height: 2rem;
          letter-spacing: .05em;
          outline: none;
          -webkit-tap-highlight-color: transparent;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 10rem;

          &:hover {
            animation-name: gradient;
            -webkit-animation-name: gradient;
            animation-duration: 2s;
            -webkit-animation-duration: s;
            animation-iteration-count: 1;
            -webkit-animation-iteration-count: 1;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
          }

          @keyframes gradient {
            0% {
              background-position: 0% 50%;
            }

            100% {
              background-position: 100%;
            }
          }
        }
      }
    }
  }
}
