.hLine{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.14);
    padding: 2px 0px 10px 0px;
    margin-bottom: 20px;
}

.text{
    font-size: 14px;
    padding-bottom: 10px;
    text-align: justify;
}
.btn-modal-success{
    margin-bottom: 10px;
}