.titlePart {
  margin-bottom: 15px;
  .titleNumber {
    display: inline-block;
    font-size: 85px;
    font-weight: 900;
    color: lighten($color: $second-color, $amount: 30);
    line-height: 65px;
    margin-left: 5px;
  }
  .titleBox {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    .secondPart {
      color: $second-color;
    }
    .subTitle {
      font-size: 18px;
      font-weight: 300;
      color: #7f7f7f;
    }
  }
}
.loading:after {
  content: "";
  background-image: url(/assets/images/gears.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
