.form {
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    .col {
      align-self: baseline;
      label {
        font-size: 12px;
        font-weight: 500;
        display: block;
        color: #737373;
        margin-bottom: 2px;
      }
    }
  }
  input,
  select {
    width: 100%;
    min-width: 200px;
    padding: 0px 3px;
    font-family: inherit;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
}
