<card>
  <card-header [title]="'قالب ها'">
  </card-header>
  <card-body>
    <ngx-datatable class="dark" [rows]="containers" [columns]="columns" [columnMode]="'force'" [headerHeight]="40"
      [summaryRow]="false" [footerHeight]="40" [limit]="10" [rowHeight]="'auto'">
    </ngx-datatable>
    <ng-template #editTemplate let-row="row" let-i="rowIndex">
      <a class="btn btn-small btn-primary" routerLink="/admin/containers/edit/{{row._id}}">ویرایش</a>
      <a class="btn btn-small btn-danger" (click)="onDelete(row, i)">حذف</a>
    </ng-template>
    <ng-template #htmlTemplate let-value="value">
      <pre>{{value}}</pre>
    </ng-template>
    <div class="btnBox">
      <a class="btn btn-primary" [routerLink]="['../create']">ایجاد قاب</a>
    </div>
  </card-body>
</card>
