/* You can add global styles to this file, and also import other style files */
@import 'app/@themes/styles.scss';

.blueWithTitleContainer{
  border:1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  h2{
    background-color: rgb(32, 154, 190);
    color:white;
    padding:5px;
    border-radius:3px;
    margin:0px;
    font-size: 18px;
  }
}
.redWithTitleContainer{
  border:1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  h2{
    background-color: rgb(190, 32, 32);
    color:white;
    padding:5px;
    border-radius:3px;
    margin:0px;
    font-size: 18px;
  }
}

